footer{
    background: #EDA9A7;
    margin-top: 85px;
    height: 305px;
    .contenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding-top: 85px;
        margin-bottom: 40px;
        ul.datos{            
            margin-left: 12em;
            width: 100%;
                li{
                    margin-top: 12px;
                    color: #fff;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 24px;
                    p{
                        margin-left: 20px;
                    }
                }
                .location{
                    list-style-image: url(../assets/icons/locat.png);
                }
                .phone{
                    list-style-image: url(../assets/icons/phone.png);
                }
                .email{
                    list-style-image: url(../assets/icons/mail.png);
                }
        }
        ul.redes{
            margin-left: 12em;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 2em;
            margin-left: 50%;
                li{
                    margin-top: 20px;
                    color: #fff;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 24px;  

                    a{
                        margin-right: 20px;
                        text-decoration: none;
                        color: #fff;
                        margin-left: 20px;
                    }
                }
                .ig{
                    list-style-image: url(../assets/icons/instagram.svg);
                }
                .fb{
                    list-style-image: url(../assets/icons/facebook.svg);
                }
        }
    }
    .desarrollo{
        text-align: center;
        color: #fff;
        background-color: #D35458;
        height: 60px;
        width: 100%;
        p{
            padding-top: 1.5em;
        }
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}