header{
    height: 1024px;
    background-image: url(../assets/media/hero-bg.png);
    .carousel{
        .texto{
            padding-left: 70px;
            padding-top: 150px;
            height: 1024px;
            
            h1{
                font-size: 150px;
                font-weight: 100;
            }
            h2{
                font-size: 100px;
                font-weight: 100;
            }
            h5{
                font-size: 24px;
                font-weight: 400;
                margin-top: 50px;
                width: 650px;
            }
            a{
                text-decoration: none;

                button{
                    background: #D35458;
                    border: none;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 24px;
                    font-weight: 600;
                    text-align: center;
                    margin-top: 75px;
                    width: 300px;
                    height: 60px;
                }
                button:hover{
                    border: solid 3px #D35458;
                    color: #D35458;
                    background-color: #fff;
                }
            }
        }
        .sale{
            height: 1024px;
            
            h2{
                font-size: 120px;
                font-weight: 600;
                text-align: center;
                padding-top: 2em;
            }
            h3{
                font-size: 80px;
                font-weight: 200;

            }
            a{
                
                font-size: 24px;
                font-weight: 600;
                text-align: center;
                button{
                    width: 700px;
                    height: 60px;
                    background: #D35458;
                    border-radius: 5px;
                    border: none;
                    color: #fff;
                }
                button:hover{
                    border: solid 3px #D35458;
                    color: #D35458;
                    background-color: #fff;
                }
            }
        }
    }
    .boton{
    width: 70px;
    height: 70px;
    background-image: url(../assets/icons/wsp.svg);
    position: fixed;
    left: 93%;
    background-size: contain;
    background-repeat: no-repeat;
    top: 85%;
    z-index: 10;
    }
    .carousel-control-prev{
        width: 10%;
        height: 50%;
    }
    .carousel-control-next{
        width: 10%;
        height: 50%;
    }
}