@media screen and (max-width:768px){
    nav{
        button{
                margin-left: 80%;
                margin-top: 10px;
        }

        .logo{
            margin-left: 20px;
        }
        .container-fluid{
            flex-wrap: inherit;
            align-items: center;
            justify-content: flex-end;
            display: flex!important;
            flex-basis: auto;
            margin-left: 36vw;
            overflow-x: hidden;
        }

    }
    header{
        height: 700px;
        .carousel{
            .texto{
                padding-left: 20px;
                padding-top: 50px;
                height: 512px;
                
                h1{
                    font-size: 70px;
                    font-weight: 100;
                }
                h2{
                    font-size: 35px;
                    font-weight: 100;
                }
                h5{
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 20px;
                    width: 300px;
                }
                a{
                    text-decoration: none;
    
                    button{
                        background: #D35458;
                        border: none;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 600;
                        text-align: center;
                        margin-top: 75px;
                        width: 150px;
                        height: 30px;
                    }
                    button:hover{
                        border: solid 3px #D35458;
                        color: #D35458;
                        background-color: #fff;
                    }
                }
            }
            .sale{
                height: 512px;
                
                h2{
                    font-size: 60px;
                    font-weight: 600;
                    text-align: center;
                    padding-top: 2em;
                }
                h3{
                    font-size: 40px;
                    font-weight: 200;
    
                }
                a{
                    
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                    button{
                        width: 300px;
                        height: 30px;
                        background: #D35458;
                        border-radius: 5px;
                        border: none;
                        color: #fff;
                    }
                    button:hover{
                        border: solid 3px #D35458;
                        color: #D35458;
                        background-color: #fff;
                    }
                }
            }
        }
        .boton{
        width: 40px;
        height: 40px;
        background-image: url(../assets/icons/wsp.svg);
        position: fixed;
        left: 90%;
        background-size: contain;
        background-repeat: no-repeat;
        top: 80%;
        z-index: 10;
        }
        .carousel-control-prev{
            width: 10%;
            height: 50%;
        }
        .carousel-control-next{
            width: 10%;
            height: 50%;
        }
    }
    main{
        // first
        section.first{
            padding-top: 15em;
            hr{
                width: 100%;
                border: 2px solid #D35458;
                height: 0;
                text-align: center;
    
            }
            h5{
                text-align: center;
                color: #D35458;
                padding-top: 2em;
                padding-bottom: 2em;
                font-size: 40px;
                font-weight: 500;
            }
            .contenedor{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                justify-content: center;
                justify-items: center;
                text-align: center;
                .ft h5{
                    color: #F5A856;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 32px;
                    text-align: center;
                    width: 200px;
                }
                .trans h5{
                    color: #D35458;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 32px;
                    text-align: center;
                    width: 200px;
                }
                .mercado h5{
                    color: #6368AE;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 32px;
                    text-align: center;
                }
            }
        }
        // second
        section.second{
            padding-top: 2em;
            h2{
                text-align: center;
                font-size: 40px;
                font-weight: 500;
                color: #D35458;
                padding-bottom: 2em;
            }
            .contenedor{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap:20px;
                justify-content: center;
                justify-items: center;
                text-align: center;
                .deco{
                    background-image: url(../assets/media/tejo.jpg);
                    width: 26em;
                    height: 349px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    padding-top: 1em;
                    p{
                        color: #F5A856;
                        font-weight: 500;
                        font-size: 25px;
                        line-height: 36px;
                        margin-top: 5px;
                    }
                }
                .pared{
                    background-image: url(../assets/media/murete.jpg);
                    width: 26em;
                    height: 349px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    padding-top: 1em;
                    p{
                        color: #EF8183;
                        font-weight: 500;
                        font-size: 25px;
                        line-height: 36px;
                        margin-top: 5px;
                    }
                }
                .piso{
                    background-image: url(../assets/media/porfido.jpg);
                    width: 26em;
                    height: 349px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    padding-top: 1em;
                    p{
                        color: #9099CD;
                        font-weight: 500;
                        font-size: 25px;
                        line-height: 36px;
                        margin-top: 5px;
                    }
                }
                // .mini{
                //     background-color: rgba(255, 255, 255, 0.397);
                //     width: 290px;
                //     height: 42px;
                //     font-weight: 500;
                //     font-size: 24px;
                //     line-height: 22px;
                //     text-align: center;
                //     margin-top: 10em;
                //     margin-left: 10vw;
                //     span{
                //         margin-top: 0.5em;
                //     }
                // }
    
            }
        }
        // third
        section.third{
            background-color: #EDA9A7;
            margin-top: 100px;
            .contenedor{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 2fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                justify-content: center;
                justify-items: center;
                text-align: center;
                padding: 100px 2em;
                div{
                    display: inline-flex;
                    p{
                        margin-left: 0.5em;
                        margin-top: 1em;
                        font-weight: 300;
                        font-size: 25px;
                        line-height: 32px;
                    }
                }
            }
        }
        // fourth
        section.fourth{
            padding-top: 1em;
            display: grid;
            justify-content: center;
            justify-items: center;
            text-align: center;
            h2{
                text-align: center;
                font-weight: 500;
                font-size: 20px;
                line-height: 40px;
                color: #EF8183;
            }
            form{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                padding-top: 50px;
                input{
                    width: 100%;
                    height: 37px;
                    border: 1px solid #EDA9A7;
                    border-radius: 5px;
                    margin-top: 20px;
                }
                textarea{
                    width: 100%;
                    height: 86px;
                    border: 1px solid #EDA9A7;
                    border-radius: 5px;
                    margin-top: 20px;
                }
    
            }
            a {
                button{
                width: 250px;
                height: 30px;
                background: #D35458;
                border-radius: 5px;
                border: none;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #fff;
                margin-top: 20px;
            }
            button:hover{
                border: solid 3px #D35458;
                color: #D35458;
                background-color: #fff;
            }
        }
    }
    // fifth
    section.fifth{
        margin-top: 180px;
        .glider{
            height: 200px;
            width: 100%;
            div{
                height: 200px;
                width: 100%;
            }
            img{
                height: 200px;
                width: 100%;
                padding-left: 5px;
            }
        }
    }
    // sixth
    section.sixth{
        padding-top: 10em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        span{
            font-weight: 500;
            font-size: 20px;
            line-height: 40px;
            color: #EF8183;
            padding-bottom: 1em;
            img{
                width: 30px;
                height: auto;
                margin-right: 5px;
            }
        }
        iframe{
            align-self: center;
            width: 100%;
            height: 200px;
        }
    }
    }
    footer{
        background: #EDA9A7;
        margin-top: 85px;
        height: 100%;
        overflow-x: hidden;
        .contenedor{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            padding-top: 85px;
            margin-bottom: 10px;
            ul.datos{            
                margin-left: 2em;
                width: 100%;
                    li{
                        margin-top: 12px;
                        color: #fff;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;
                        p{
                            margin-left: 5px;
                        }
                    }
                    .location{
                        list-style-image: url(../assets/icons/locat.svg);
                    }
                    .phone{
                        list-style-image: url(../assets/icons/telefono.svg);
                    }
                    .email{
                        list-style-image: url(../assets/icons/mail.svg);
                    }
            }
            ul.redes{
                margin-left: 2em;
                width: 100%;
                display: flex;
                flex-direction: column;                
                align-items: flex-end;
                margin-top: 3em;
                    li{
                        margin-top: 20px;
                        color: #fff;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        list-style-type: none;
                        a{
                            margin-right: 2em;
                            text-decoration: none;
                            color: #fff;
                        }
                    }
            }
        }
        .desarrollo{
            text-align: center;
            color: #fff;
            background-color: #D35458;
            height: 60px;
            width: 100%;
            p{
                padding-top: 1.5em;
            }
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}